body {
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 3.5rem;
	font-size-adjust: inherit;
	font-weight: 700;
	background-color: #1b6535;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 80vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calcbody {
	width: 30rem;
	height: 40rem;
	background-color: #a8c66c;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 3px 3px 4px 1px black;
	border: 8px solid #0e351b;
}

.calcscreen {
	width: 75%;
	min-height: 4.5rem;
	background-color: white;
	margin: 50px 0;
	border-radius: 8px;
	box-shadow: -1px -1px 5px 2px black;
	font-size: 1em;
	color: black;
	position: relative;
}

.result {
	background-color: transparent;
	width: 100%;
	font-size: 0.9em;
	height: 100%;
	flex: 1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.autoscale {
	display: inline-block;
	padding: 7px 15px;
	position: absolute;
	right: 1%;
	transform-origin: right;
}

.openrand {
	background-color: transparent;
	border-radius: 10em;
	font-size: 1rem;
	color: black;
	position: absolute;
	text-align: center;
	z-index: 100;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: scroll;
	width: 100%;
}

::-webkit-scrollbar {
	height: 1em;
}

.pad {
	width: 20rem;
	height: 26rem;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 1px black;
	box-sizing: border-box;
	background-color: #0e351b;
	outline: none;
	border: 4px solid #0e351b;
}

table {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	table-layout: fixed;
	outline: none;
	border: none;
}

tr {
	width: 100%;
	height: 100%;
}

td {
	width: 100rem;

	text-align: center;
	color: white;
	background-color: #e1dd72;
	cursor: pointer;
}

tr,
td {
	border: 1px solid black;
	border-radius: 0.2em;
}

.clear {
	width: 5rem;
}

.divide {
	width: 3rem;
}

td:active {
	box-shadow: -1px -1px 2px 0.5px black;
	background-color: #8f8c45;
}

@media screen and (max-width: 630px) {
}

@media screen and (max-width: 580px) {
	.openrand {
		width: 100%;
		align-self: center;
	}
}

@media screen and (max-width: 520px) {
}

@media screen and (max-width: 500px) {
	.calcscreen {
		width: 80%;
		height: 1.5em;
	}

	.calcscreen {
		height: 1.8em;
	}

	.pad {
		width: 17rem;
	}
}

@media screen and (max-width: 400px) {
	.calcscreen {
		height: 1.8em;
	}
	body {
		color: black;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 3rem;
		font-size-adjust: inherit;
		font-weight: 700;
		background-color: #1b6535;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.pad {
		width: 20rem;
		height: 26rem;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0px;
		box-shadow: none;
		box-sizing: border-box;
		background-color: #0e351b;
		outline: none;
		border: none;
	}
}

@media screen and (max-width: 350px) {
	.calcscreen {
		height: 1.8em;
	}
}

@media screen and (max-width: 340px) {
	.calcbody {
		height: 100%;
	}

	.calcscreen {
		height: 1.5em;
	}
	.autoscale {
		padding: 0 8px;
		padding-top: 8px;
	}
}
